
.header {
    margin-top: 15px;
    font-size: 18px;
}

.numbers {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.number {
    display: inline-block;
    border: 1px solid black;
    border-radius: 100%;
    padding: 12px 15px;
    margin: 10px;
    background-color: lightcoral;
}